body {
  background-color: #252627;
  color: #D3D4D9;
}

/*Landing Page*/

.landing-page-div {
  height: 1024px;
  width: 100%;
  background-color: #252627;
  color: #D3D4D9;
  text-align: center;
}


.landing-page-links {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.4em;
}

.landing-page-links h1 {
  color: #D3D4D9;
  margin-top: auto;
}

.landing-page-login {
  z-index: 4;
  position: fixed;
  width: 100%;
  bottom: 55%;
}

.landing-page-login button {
  color: #D3D4D9;
  background-color: Transparent;
  border: 2px solid #D3D4D9;
  border-radius: 10px;
  outline: none;
  box-shadow: 2px 6px 8px #888888;
  padding: 10px 50px;
}

.landing-page-signup {
  z-index: 3;
  position: fixed;
  width: 100%;
  bottom: 45%;
}

.landing-page-signup button {
  color: #D3D4D9;
  background-color: Transparent;
  border: 2px solid #D3D4D9;
  border-radius: 10px;
  outline: none;
  box-shadow: 2px 6px 8px #888888;
  padding: 10px 40px;
}

/*Login Page*/

.container {
  text-align: center;
}

#email {
  background-color: Transparent;
  border: none;
  border-bottom: 2px solid #D3D4D9;
  padding-top: 40px;
  text-align: center;
}

#password {
  background-color: #252627;
  color: #D3D4D9;
  border: none;
  border-bottom: 2px solid #D3D4D9;
  padding-top: 40px;
  text-align: center;
}

#login-page-div {
  z-index: 3;
  position: fixed;
  width: 100%;
  bottom: 40%;
}
#login-page-div input {
  background-color: #252627;
  color: #D3D4D9;
  width: 60%;
}

#login-page-div input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px #252627;
  -webkit-text-fill-color: #D3D4D9 !important;
}

#login-page-div button {
  color: #D3D4D9;
  margin-top: 20px;
  background-color: Transparent;
  border: 2px solid #D3D4D9;
  border-radius: 10px;
  outline: none;
  box-shadow: 2px 6px 8px #888888;
  margin-top: 50px;
  padding: 10px 40px;
}

/*New User, Sign up page*/

.sign-up {
  z-index: 3;
  bottom: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.sign-up input {
  border: none;
  background-color: #252627;
  color: #D3D4D9;
  text-align: center;
}

.sign-up input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px #252627;
  -webkit-text-fill-color: #D3D4D9 !important;
}

.sign-up-input {
  background-color: #252627;
  color: #D3D4D9;
  border-bottom: 2px solid #D3D4D9;
  padding-top: 60px;
  text-align: center;
}

.sign-up button {
  margin-top: 30px;
  color: #D3D4D9;
  background-color: Transparent;
  border: 2px solid #D3D4D9;
  border-radius: 10px;
  outline: none;
  box-shadow: 2px 6px 8px #888888;
  padding: 10px 40px;
}

/*Dashboard page*/

.taco-info ul {
  list-style-type: none;
  left: 100%;
}

.taco-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}

.taco-container button {
  color: #D3D4D9;
  background-color: Transparent;
  border: 2px solid #D3D4D9;
  border-radius: 10px;
  outline: none;
  box-shadow: 2px 6px 8px #888888;
  padding: 10px 10px;
  margin-bottom: 20px;
}

.taco-result {
  border: 2px solid #D3D4D9;
  border-radius: 10px;
  margin-right: 50px;
  text-align: center;
  width: 30%;
}

.random-taco {
  text-align: center;
  width: 30%;
}

.more-tacos {
  margin-top: 25%;
  margin-bottom: 25%;
}

/*Navigation Bar*/
.navigation-container button {
  color: #D3D4D9;
  background-color: Transparent;
  border: 2px solid #D3D4D9;
  border-radius: 10px;
  outline: none;
  box-shadow: 2px 6px 8px #888888;
  padding: 5px 5px;
}

.navigation {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;

}

.navigation a {
  text-decoration: none;
  color: #D3D4D9;
  margin-right: 20px;
}

.navigation a:hover {
  background-color: #2098D1;
}
